div.static {
    position: static;
    border: 3px solid red;
}

div.relative {
    position: relative;
    left: 30px;
    border: 3px solid purple;
}

div.fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 3px solid violet;
}

div.relative {          /*relative -> absolute*/
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid green;
}
div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid rebeccapurple;
}

div.container1 {            /*top left position*/
    position: relative;
}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
}
img {
    width: 50%;
    height: 500px;
    opacity: 0.4;
}

div.container2 {            /*top right position*/
    position: relative;
}
.topright {
    position: absolute;
    top: 0px;
    right: 1px;
    font-size: 20px;
}
img {
    width: 50%;
    height: 500px;
    opacity: 0.4;
}

div.container3 {            /*bottom left text*/
    position: relative;
}
.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
}
img {
    width: 50%;
    height: 500px;
    opacity: 0.4;
}

div.container4 {            /*bottom right text*/
    position: relative;
}
.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 20px;
}
img {
    width: 50%;
    height: 500px;
    opacity: 0.4;
}

div.container5 {            /*centered*/
    position: relative;
}
.center {
    position: absolute;
    top: 50%;
    margin-left: 320px;
    width: 100%;
    text-align: left;
    font-size: 20px;
}
img {
    width: 50%;
    height: 500px;
    opacity: 0.4;
}